/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body {
    font-size: 1.5rem;
    font-family: "Roboto Mono";
    background-color: #deeaee;
}



/* Header Style Section*/
header {
    background-color:#b1cbbb;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.5rem;
    background-color: #eea29a;
    border-radius: 1rem;
}

h1{
    font-size: 3rem;
    margin: .5%;
    font-family: "Chelsea Market", Arial;
    margin-bottom: 2rem;
}

nav {
    font-size: 1.5rem;
    margin: 1%;
}

/* Top Section Styles*/
.top {
    display: flex;
    justify-content: space-evenly;
}
.top img{
width: 45%;
box-sizing: border-box;
margin: 1%;
border-radius: 5%;
}

.top-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10% 5%;
}

.top-description a {
    text-decoration: none;
    color: black;
    background-color: #eea29a;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 30%;
    text-align: center;
}

h2 {
    font-size: 2rem;
    
}

/* Thumbnail Section Styles*/
.thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.images {
    box-sizing: border-box;
    width: 25%;
    padding: 2%;
}

.images img {
    width: 100%;
    border-radius: 5%;
}

/*Footer Section Styles*/
footer {
    background-color: #b1cbbb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 1.5rem 0.5rem;
    margin: 0 auto;
    background-color: #eea29a;
    border-radius: 1rem;
    width: 15%;
    text-align: center;
}